/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-literati-example-carousel {
	.carousel-items {
		.carousel-item {
			opacity: 1;
	
			&__img {
				width: 315px;
			}

			&__content {
				padding: 10px;
			}
	
			&__link-box {
				input {
					width: 100%;
				}
			}
	
			.btn {
				display: inline-flex;
			}
		}
	}
}
